.backgro {
  background-color: red;
}

.navbar {
  position: fixed;
  background-color: white !important;
  width: 100%;
  padding: 2rem;
}

.pageContainer {
  padding-top: 7rem !important;
  padding: 2rem;
}

.loginFormOuterContainer {
  padding-top: 7rem !important;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorText {
  color: red;
  text-align: center;
}

.buttonSubmit {
  background-color: #acd793;
  padding: 0.5rem;
  border-radius: 20px;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 2rem;
}

.inputLabel {
  display: flex;
  flex-direction: column;
}

.loginRow2 {
  display: flex;
  justify-content: space-between;
}

.inputLabel input {
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid;
}
